@import '~@fontsource/bebas-neue/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue";
}

a, a:visited {
  text-decoration: none;
}
ul {
  list-style: none;
}